<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        {{>header}}

        <div>
            <input type="text" id="place"/>
            <input id='butt' type="button" value="Submit" />
            <p id="msg"></p>
        </div>

        {{>footer}}
        <script>
            document.getElementById('butt').addEventListener('click',function(){
                let a=document.getElementById('place').value;
                console.log(a);
                fetch(`/weather?place=${a}`).then(response=>{
                    response.json().then(data=>{
                        console.log(data)
                        document.getElementById('msg').innerHTML=data[0].hasOwnProperty('error')?data[0].error:`The weather in ${data[0].place} observed at ${data[0].time} is ${data[0].climate}`
                        })
                })
            })
        </script>
    </body>
</html>